<div class="container mx-auto flex mt-10">
  <div class="w-full mx-auto bg-white shadow-lg rounded-lg p-8">
    <div class="flex items-center mb-6">
      <img class="w-16 h-16 rounded-full shadow-md" src="https://via.placeholder.com/150" alt="Profile Picture">
      <div class="ml-6">
        <p class="text-2xl font-semibold text-gray-800">{{user.name}}</p>
        <p class="text-sm text-gray-500">{{user.role}}</p>
      </div>
    </div>
    <div class="border-t border-gray-200 pt-4">
      <div class="mb-4">
        <span class="font-bold text-gray-600">Correo:</span>
        <span class="ml-2 text-gray-700">{{user.email}}</span>
      </div>
      <div class="mb-4">
        <span class="font-bold text-gray-600">Fecha de creación:</span>
        <span class="ml-2 text-gray-700">{{user.createdAt | date:'medium'}}</span>
      </div>
    </div>
  </div>
</div>

