<div
  class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
  <div class="relative w-full max-w-xl mx-auto my-6">
    <div
      class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="px-6 py-3 border-b">
        <label class="text-lg font-medium">Usuario</label>
        <button (click)="close(false, '', null)" class="absolute top-0 right-0 p-2">
          <fa-icon [icon]="faClose"></fa-icon>
        </button>
      </div>
      <div class="p-6">
        <form class="" [formGroup]="form" (ngSubmit)="onSave()">
          <div class="mb-4">
            <div class="relative">
              <input formControlName="name" placeholder="Ingresa tu nombre" type="text" name="name"
                class="w-full rounded bg-gray-100 border-gray-300 border-2 focus:border-success-focus focus:ring-success-focus" />
            </div>
            @if (form.controls['name'].touched && form.controls['name'].invalid) {
            <div>
              @if (form.controls['name'].hasError('required')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo es obligatorio
              </p>
              }
            </div>
            }

          </div>

          <div class="mb-4">
            <div class="relative">
              <input #nameInput formControlName="email" placeholder="Ingresa tu correo" type="email" name="email"
                class="w-full rounded bg-gray-100 border-gray-300 border-2 focus:border-success-focus focus:ring-success-focus" />
            </div>
            @if (form.controls['email'].touched && form.controls['email'].invalid) {
            <div>
              @if (form.controls['email'].hasError('required')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo es obligatorio
              </p>
              }
              @if (form.controls['email'].hasError('email')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo debe ser un correo electrónico
              </p>
              }
            </div>
            }

          </div>

          <div class="mb-4">
            <div class="relative">
              <select #nameInput formControlName="role" placeholder="Ingresa tu correo" name="role"
                class="w-full rounded bg-gray-100 border-gray-300 border-2 focus:border-success-focus focus:ring-success-focus">
                <option value="">Seleccione...</option>
                <option value="admin">Administrador</option>
                <option value="user">Usuario</option>
              </select>
            </div>
            @if (form.controls['role'].touched && form.controls['role'].invalid) {
            <div>
              @if (form.controls['role'].hasError('required')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo es obligatorio
              </p>
              }
            </div>
            }

          </div>

          @if(userId === 0){
          <div class="mb-4">
            <div class="relative">
              <input formControlName="password" placeholder="Ingresa tu contraseña"
                [type]="showPassword ? 'text' : 'password'"
                class="w-full rounded bg-gray-100 border-gray-300 border-2 focus:border-success-focus focus:ring-success-focus" />
              <button type="button" class="p-2 absolute right-2" (click)="showPassword = !showPassword">
                <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
              </button>
            </div>
            @if (form.controls['password'].touched && form.controls['password'].invalid) {
            <div>
              @if (form.controls['password'].hasError('required')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo es obligatorio
              </p>
              }
              @if (form.controls['password'].hasError('minlength')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo debería tener mínimo 6 caracteres
              </p>
              }
            </div>
            }

          </div>

          <div class="mb-4">
            <div class="relative">
              <input formControlName="confirmPassword" placeholder="Confirma la contraseña" type="password"
                class="w-full rounded bg-gray-100 border-gray-300 border-2 focus:border-success-focus focus:ring-success-focus" />
            </div>
            @if (form.controls['confirmPassword'].touched &&
            form.controls['confirmPassword'].invalid) {
            <div>
              @if (form.controls['confirmPassword'].hasError('required')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo es obligatorio
              </p>
              }
              @if (form.controls['confirmPassword'].hasError('minlength')) {
              <p class="font-medium text-red-500 text-xs mt-1 ml-1">
                Este campo debería tener mínimo 6 caracteres
              </p>
              }

            </div>
            }

          </div>

          @if (form.controls['confirmPassword'].touched) {
          <div>
            @if (form.hasError('mismatch')) {
            <p class="font-medium text-red-500 text-xs mt-1 ml-1">
              Las contraseñas no coinciden
            </p>
            }
          </div>
          }
          }
          <div class="flex space-x-2">
            <app-button class="w-full" typeBtn="submit" color="success"
              [loading]="status === 'loading'">Guardar</app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
