<p class="text-center font-medium py-2 text-gray-700">¿No puedes iniciar sesión?</p>
@if (emailSent) {
<div>
  <div class="flex justify-center py-4">
    <img loading="lazy" class="w-40" src="/svg/check-email.svg" alt="logo" />
  </div>
  <p>Te enviamos un enlace de recuperación a</p>
  <p class="font-medium">{{form.controls.email.value}}</p>
</div>
} @else {
<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="sendLink()">
  <div>
    <div class="relative">
      <label for="email" class="block text-xs font-medium my-2">Te enviaremos un enlace de recuperación a</label>
      <input #nameInput formControlName="email" placeholder="Ingresa tu correo" type="email" name="email"
        class="w-full rounded bg-gray-100 border-gray-300 border-2 focus:border-success-focus focus:ring-success-focus" />
    </div>
    @if (form.controls.email.touched && form.controls.email.invalid) {
    <div>
      @if (form.controls.email.hasError('required')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        Este campo es obligatorio
      </p>
      }
      @if (form.controls.email.hasError('email')) {
      <p class="font-medium text-red-500 text-xs mt-1 ml-1">
        Este campo debería tener mínimo 6 caracteres
      </p>
      }
    </div>
    }
  </div>
  <div>
    <app-button typeBtn="submit" color="success" [loading]="status === 'loading'">Enviar enlace de recuperación</app-button>
  </div>
</form>
}
