.fc .fc-button-primary {
  background-color: #F05A03 !important;
  border-color: #F05A03 !important;
  color: white !important;
}

.fc .fc-header-toolbar .fc-button:hover {
  background-color: #d74d03 !important;
  border-color: #d74d03 !important;
}

.fc .fc-event {
  cursor: pointer;
}
